.task-container {
  overflow-y: auto;
  width: auto;
  padding: 20px;
  flex: 0.6;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
  padding: 10px;
  width: 350px;
  background-color: #fff;
  margin-bottom: 10px;
}

.task .top {
  border-bottom: 1px solid rgb(171, 166, 166);
  padding-bottom: 5px;
}

.task .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  font-size: 14px;
}

.left-content > div:last-child {
  color: orangered;
  font-size: 14px;
}

.right-content > svg {
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  .task {
    width: 300px;
  }
}
